---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-identifier-length

WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: file
...
